.blocks{
  position: relative;
}
.blocks div {
position: absolute;
width: 100px;
height: 100px;
background-color:#EEE8AA;
top: 50px;
left: 80px;
border-width: 1px;
border-style: solid;
border-color: black;
}

.blocks #one{
margin-left: 249px;
margin-top: 150px;
-moz-transform: rotate(20deg);
}
.blocks #two{
 margin-left: 120px;
 margin-top: 210px;
-moz-transform: rotate(110deg);
}
.blocks #three{
 margin-left: 60px;
 margin-top: 80px;
-moz-transform: rotate(200deg);
}
.blocks #four{
 margin-left: 189px;
 margin-top: 20px;
-moz-transform: rotate(290deg);
}
